{% extends "professor_layout.html" %}
{% block prof %}
    <div class="shadow p-4 mb-5 bg-white rounded m-5">
        <table class="table ">
            <thead class="border-bottom border-dark" >
                <tr>
                    <th scope="col"> Id</th>
                    <th scope="col"> Materia </th>
                </tr>
            </thead>
            <tbody>
                {% for materia in lista_materias.items %}
                    <tr>
                        <td> {{ materia.id }} </td>
                        <td> {{ materia.nome }} </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href=" {{ url_for('editar_materia', id_materia=materia.id) }} "> Editar </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            {%  for numero_pagina in lista_materias.iter_pages() %}
                {% if numero_pagina %}
                    {% if lista_materias.page == numero_pagina %}
                        <a class="btn btn-primary btn-sm" href="{{ url_for('gerenciar_materia', page=numero_pagina) }}">{{ numero_pagina }}</a>
                    {% else %}
                        <a class="btn btn-outline-primary btn-sm" href=" {{ url_for('gerenciar_materia', page=numero_pagina) }} "> {{ numero_pagina }} </a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock prof %}