{% extends "professor_layout.html" %}
{% block prof %}
    <div class="shadow p-4 mb-5 bg-white rounded m-5">
        <table class="table ">
            <thead class="border-bottom border-dark" >
                <tr>
                    <th scope="col"> Id</th>
                    <th scope="col"> Materia </th>
                </tr>
            </thead>
            <tbody>
                {% for materia in lista_materias.items %}
                    <tr>
                        <td> {{ materia.id }} </td>
                        <td> {{ materia.nome }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            {%  for numero_pagina in lista_materias.iter_pages() %}
                {% if numero_pagina %}
                    <a class="btn btn-outline-primary btn-sm" href=" {{ url_for('gerenciar_materia', page=numero_pagina) }} "> {{ numero_pagina }} </a>
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
        <div class="mt-2">
            <small> 
                Recomanda-se não apagar matérias, pois ao apaga-las professores que tinham está matéria continuaram com ela, sem existir. O que pode causar erros, então ao pensar em apagar um matéria, ou apague os professores com ela antes de apaga-la ou apague depois.
            </small>
            <form action="{{ url_for('gerenciar_materia') }}" method="POST">
                <input type="text" placeholder="Id da Matéria" name="text">
                <input class="btn btn-danger btn-sm" type="submit" value="Apagar Matéria">
            </form>
        </div>
    </div>

    

{% endblock prof %}