<!DOCTYPE html>
<!--
    Pagina de modelo para todas as outras
-->
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" />
        {% if titulo %}
            <title>{{ titulo }}</title>
        {% else %}
            <title> Projeto PI </title>
        {% endif %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% if user %}
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-navbar-now rounded shadow-sm">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{{url_for('home')}}">
                            <img src="{{ url_for('static', filename='logo.png')}}" alt="logoEscola" width="42" height="32">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse" id="navbarSupportedContent">
                            {% if current_user.is_authenticated %}
                                <div class="navbar-nav mr-auto">
                                    <a class="nav-item nav-link" href=" {{ url_for('professor') }} "> Página do Professor </a>
                                </div>
                                <div class="navbar-nav ms-auto">
                                    <a class="nav-item nav-link" href=" {{ url_for('logout') }}"> Sair </a>
                                </div>
                            {% else %}
                                {% if user == 'aluno' %}
                                    <div class="navbar-nav mr-auto">
                                        <a class="nav-item nav-link" href=" {{ url_for(user) }} ">Página do Aluno</a>
                                    </div>
                                {% else %}
                                    <div class="navbar-nav mr-auto">
                                        <a class="nav-item nav-link" href=" {{ url_for('home') }} ">Página Inicial</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </header>
        {% endif %}
        <main>
            {% if not current_user.is_authenticated %}
                {% with messages = get_flashed_messages(with_categories=true)%}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} m-3">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif%}
                {% endwith %}
            {% endif %}

            {% block conteudo %}
            {% endblock conteudo %}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

        <footer class="flex-shrink-0 py-4 bg-footer text-black-50 mt-auto fw-bold">
            <div class="container text-center">
                <small> Criado por alunos Univesp. </small>
                {% if link %}
                    <small> <br> Icones distribuidos por <a href="https://icons8.com/" targe="_blank" style="text-decoration: none;"> https://icons8.com/ </a> </small>
                {% endif %}
            </div>
          </footer>
    </body>
</html>