@charset "UTF-8";

html,
body {
  height: 100vh;
}

.vertical-center {
    min-height: 100%; 
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
  }


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

/* Sidebar */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* situação */
.baixo-rendimento {
  color: rgb(211, 2, 2);
}

.resultado-insatisfatorio {
  color: rgb(236, 221, 12);
}

.resultado-satisfatorio {
  color: rgb(61, 192, 0);
}

.resultado-acima-da-media {
  color: rgb(252, 171, 21);
}

.sem-notas {
  color: rgb(19, 135, 230);
}
